node_modules
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.env
.env.*
.DS_Store
*.local
*.log
coverage
src/backend/test
src/backend/.eslintrc.js
src/backend/jest.config.js
src/backend/nodemon.json
src/backend/README.md
src/backend/test/
src/frontend/
docs/
.git
.github
*.md